* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  margin: 0px auto;
  max-width: 1600px;
  font-family: Verdana, sans-serif;
}

header {
  text-align: center;
  color: aliceblue;
  padding: 0px 70px 0px 30px;
  background: #0a77d5;
  height: 400px;
  margin-top: 50px;
}

header img {
  height: 300px;
  float: right;
  border-radius: 5px;
}

h1 {
  margin-top: 50px;
  word-spacing: 10px;
  letter-spacing: 3px;
  font-size: 60px;
  line-height: 1.5em;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.631);
}

h2 {
  text-transform: uppercase;
  font-size: 35px;
  font-style: italic;
  opacity: 0.8;
  line-height: 1.5em;
  text-shadow: 1px 1px 3px #d0e4f78a;
}

nav {
  width: 100%;
  margin-top: 120px;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #fff;
  line-height: 2em;
}

nav a {
  color: #fff;
}

aside {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.15);
  float: right;
  border-radius: 0px 0px 0px 5px;
}

aside h2,
section h2 {
  display: inline-block;
  background: #0a77d5;
  padding: 0px 30px;
  color: #d0e4f7;
  border-radius: 0px 30px 30px 0px;
}

p a {
  color: rgb(0, 0, 255);
}

p,
li {
  font-size: 20px;
  line-height: 1.5em;
  margin: 1em 0em;
  font-style: italic;
}

section {
  margin: 30px 30px 80px;
}

pre {
  letter-spacing: 1px;
  word-spacing: 4px;
  font-size: 16px;
  margin-top: 30px;
  border: 1px dashed #000;
  display: inline-block;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.358);
  font-style: italic;
  width: 60%;
}

footer {
  height: 150px;
  background: #0a77d5;
  position: relative;
}

.rs_link {
  position: absolute;
  right: 3%;
  top: 30%;
}

footer a img {
  height: 60px;
}

.my_github {
  color: #000;
  position: absolute;
  top: 40%;
  left: 25%;
  font-size: 24px;
  line-height: 40px;
  font-style: oblique;
}

.my_github:hover {
  text-decoration: underline;
}

.git-logo {
  height: 40px;
  margin-right: 10px;
}

footer div {
  position: absolute;
  top: 45%;
  left: 5%;
  font-size: 30px;
  color: #000;
  font-weight: 600;
}
